@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("../style.css");

body {
  background-color: #164E42;
  color: #F1F2ED;
  font-family: Nunito, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #164E42;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  text-align: center;
}

#logo-image {
  width: 150px;
}

.navbar {
  margin-top: 10px;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #F1F2ED;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #DAA520;
  transition: 0.3s;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#calendar-container {
  background-color: #A2AC82;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 900px;
  width: 100%;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-header button {
  background-color: #164E42;
  border: none;
  color: #F1F2ED;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.calendar-header button:hover {
  background-color: #0D5245;
}

#monthYear {
  font-size: 1.5rem;
}

.days-of-week, .calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.days-of-week div {
  font-weight: bold;
}

.day {
  background-color: #F1F2ED;
  color: #164E42;
  cursor: pointer;
  min-height: 100px;
  padding: 10px;
  position: relative;
}

.day:hover {
  background-color: #DAA520;
}

.event {
  background-color: #164E42;
  border-radius: 3px;
  color: #F1F2ED;
  font-size: 0.8rem;
  margin-top: 5px;
  padding: 2px 5px;
}

.delete-btn {
  background: none;
  border: none;
  color: #DAA520;
  cursor: pointer;
  font-size: 0.8rem;
  margin-left: 5px;
  padding: 2px;
}

.delete-btn:hover {
  color: #FF4500;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  padding-top: 60px;
}

.modal-content {
  background-color: #164E42; /* Match header background color */
  border-radius: 10px;
  color: #F1F2ED; /* Match body text color */
  margin: 5% auto;
  padding: 20px;
  width: 80%;
  max-width: 500px;
}

.modal-content h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.modal-content label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.modal-content input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #F1F2ED;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 1rem;
  color: #164E42;
  background-color: #F1F2ED;
}

.modal-content button[type="submit"] {
  background-color: #DAA520;
  border: none;
  color: #164E42;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}

.modal-content button[type="submit"]:hover {
  background-color: #F1F2ED;
  color: #DAA520;
}

footer {
  background-color: #0D5245;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  color: #F7F7F7;
  padding: 10px 0;
  text-align: center;
}
